<!--Jumbotron-->
<div class="jumbotron text-center">
    <div class="overlay"></div>
    <div class="background-image"></div>
    <div class="caption">
        <h1> Headline News</h1>
        <p>The Tennessean Edition</p>
    </div>
</div>

<!--Main Article Container-->
<div class="container-fluid article-container"></div>